.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
}

.container main {
  flex-grow: 1;
  width: 100%;
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-direction: column;
}
