.content {
  display: flex;
  align-items: flex-start;
  gap: 2rem;
  min-height: 30rem;
  padding: 1.5rem 1.75rem;
  border: 2px solid black;
}

.cover {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15rem;
  height: 17.5rem;
  font-size: 1.125rem;
  font-weight: 500;
  border: 2px dashed black;
  margin-bottom: 1.5rem;
}

.content button {
  width: 100%;
  padding: 0.625rem;
  font-size: 1rem;
  font-weight: 500;
  text-align: center;
  border: 2px solid black;
  cursor: pointer;
}

.content button:hover {
  text-decoration: underline;
}

.content .btnPrimary {
  color: white;
  background: black;
}

.content button + button {
  margin-top: 0.25rem;
}

.content h1 {
  font-size: 1.125rem;
}

.content h1 + span {
  font-size: 1rem;
}

.content p {
  line-height: 1.3;
  margin-top: 1.5rem;
  font-size: 0.9375rem;
}

.content .metadata {
  display: flex;
  align-items: flex-start;
  gap: 1.5rem;
  margin-top: 1.25rem;
}

.content .metadata .column {
  display: flex;
  flex-direction: column;
  gap: 0.125rem;
}

.content .property {
  list-style: none;
}

.content .metadata b {
  font-size: 0.875rem;
  font-weight: 700;
}

.content .metadata span {
  font-size: 0.875rem;
}
