.error {
  font-size: 1.125rem;
}

.container > a {
  display: inline-block;
  margin-bottom: 0.5rem;
  font-size: 1rem;
  color: black;
}

.content {
  display: flex;
  align-items: flex-start;
  gap: 2rem;
  min-height: 30rem;
  padding: 1.5rem 1.75rem;
  border: 2px solid black;
}

.content > div:first-child {
  width: min-content;
}

.content > div:last-child {
  width: 100%;
}

.content button {
  width: 100%;
  padding: 0.625rem;
  font-size: 1rem;
  font-weight: 500;
  text-align: center;
  border: 2px solid black;
  cursor: pointer;
}

.content button:hover {
  text-decoration: underline;
}

.content .btnPrimary {
  color: white;
  background: black;
  margin-top: 1rem;
}

.content button + button {
  margin-top: 0.25rem;
}

.content .categoryTree {
  margin-bottom: 0.5rem;
  font-size: 0.8125rem;
  font-weight: 500;
  color: hsl(241, 50%, 45%);
  line-height: 1.4em;
}

.content h1 {
  font-size: 1.1875rem;
  line-height: 1.4em;
}

.content h1 + span {
  font-size: 0.9375rem;
}

.content p {
  line-height: 1.3;
  margin-top: 1.5rem;
  font-size: 0.875rem;
}

.content .metadata {
  display: flex;
  align-items: flex-start;
  gap: 1.5rem;
  margin-top: 1.25rem;
  width: 100%;
}

.content .metadata .column {
  display: flex;
  flex-direction: column;
  gap: 0.125rem;
  width: 100%;
}

.content .property {
  list-style: none;
}

.content .metadata b {
  font-size: 0.875rem;
  font-weight: 700;
}

.content .metadata span {
  font-size: 0.875rem;
}
