.page h1 {
    margin-bottom: 15px;
}

.reservationData {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.reservationData input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 3px solid #000;
  background-color: #fff;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  outline: none;
}

.reservationData p {
  font-size: 16px;
  margin-bottom: 5px;
}

.confirmContainer {
  margin-top: 30px;
  border: 3px dashed #000;
}

.confirmContainer div {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  padding: 0px 15px 10px 15px;
}

.number {
  margin-right: 60px;
}

.confirmParagraph {
  display: flex;
  justify-content: center;
  padding: 10px 0px;
  font-weight: 700;
}

.spanTitle {
  font-weight: 600;
}

.label {
    font-weight: 500;
}

.separator {
    border-top: 4px dashed #000;
    margin: 10px 0;
}

.button {
  width: 100%;
  padding: 10px;
  font-size: 15px;
  font-weight: 600;
  background-color: #fff;
  border: 3px solid #000;
  cursor: pointer;
  font-family: Arial, sans-serif;
  margin-top: 15px;
  transition: background-color 0.2s, color 0.2s;
  text-decoration: underline;
}

.button:hover {
  background-color: #000;
  color: #fff;
}