.content {
  overflow: hidden;
}

.expand {
  position: relative;
  top: 0.5rem;
  left: 0%;
  margin-top: -2px;
  border-top: 2px solid black;
  cursor: pointer;
}

.expand span {
  position: absolute;
  top: 0%;
  left: 50%;
  translate: -50% -60%;
  padding: 0 0.5rem;
  font-size: 0.875rem;
  font-weight: 500;
  color: black;
  background: white;
}
