.container {
  border-top: 2px solid black;
}

.content {
  display: flex;
  align-items: flex-start;
  gap: 0.75rem;
  margin: 0 auto;
  max-width: 50rem;
  padding: 1rem 2rem 2rem;
  font-size: 0.875rem;
}

.content > svg {
  flex-shrink: 0;
}

.content > div {
  flex-grow: 1;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.content p {
  line-height: 1.3;
}

.content b {
  font-size: 0.9375rem;
}

.contact div {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.25rem;
  line-height: 1.3;
}

.contact a {
  color: black;
}

@media (max-width: 45rem) {
  .content > div {
    flex-direction: column;
    gap: 0.375rem;
  }

  .contact svg {
    display: none;
  }
}
