.container {
  border-bottom: 2px solid black;
}

.content {
  display: flex;
  margin: 0 auto;
  max-width: 50rem;
  padding: 1rem 2rem;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.content > a {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  text-decoration: none;
  font-size: 1.125rem;
  font-weight: 700;
  color: black;
}

.container svg {
  width: 1.25rem;
  height: 1.25rem;
}

.content nav {
  display: flex;
  gap: 1.5rem;
}

.content nav a {
  color: black;
}
