.container {
  display: flex;
  width: 100%;
  border: 3px solid #000;
  background: #f5f5f5;
  padding: 10px 15px;
}

.container:hover {
    background: #d4d4d4;
    cursor: pointer;
}

.colunaEsquerda {
  flex: 2; 
  padding-right: 10px;
  border-right: 3px solid #000;
}

.bookInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.name {
  font-size: 18px;
  font-weight: bold;
  margin: 0;
}

.author {
  font-size: 16px;
  margin: 5px 0 0 0;
}

/* --------- COLUNA DIREITA --------- */

.dateInfo {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-left: 10px;
}

.dateInfo p {
  font-size: 16px;
  margin: 0;
}

