.container {
  display: flex;
  min-height: 80vh;
  border: 4px solid black;
}

.sidebar {
  width: 230px;
  display: flex;
  flex-direction: column;
  border-right: 4px dashed black;
  padding: 0;
  margin: 0;
}

.menuItem {
  padding: 18px 20px;
  font-size: 16px;
  text-decoration: underline;
  color: black;
  border-bottom: 4px dashed black;
  background-color: white;
}

.menuItem:hover {
  background-color: #f0f0f0;
}

.active {
  background-color: #efefef;
  font-weight: bold;
  text-decoration: none;
}

.content {
  flex: 1;
  padding: 30px 50px;
}
