.title {
    margin-bottom: 18px;
}

.input {
  width: 100%;
  padding: 15px;
  margin-top: 5px;
  font-size: 18px;
  border: 3px solid #000;
  background-color: #fff;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  outline: none;
}